{% extends "base.html" %}

<!-- PAGE TITLE HERE -->
{% block title %}Coderia - HomePage{% endblock %}

{% block body %}

    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Slider Banner -->
        <div class="main-slide">
            <div id="rev_slider_1061_1_wrapper" class="rev_slider_wrapper fullscreen-container"
                 data-alias="creative-freedom" data-source="gallery" style="background-color:#1f1d24;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_1061_1" class="rev_slider fullscreenbanner" style="display:none;"
                     data-version="5.4.1">
                    <ul>
                        <li data-index="rs-300" data-transition="fadethroughdark" data-slotamount="default"
                            data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="2000"
                            data-thumb="/static/images/main-slider/slide3.jpg" data-rotate="0" data-saveperformance="off"
                            data-title="Convenient"
                            data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7=""
                            data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/main-slider/slide3.jpg" alt="" data-bgposition="center center"
                                 data-bgfit="cover" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- BACKGROUND VIDEO LAYER -->
                            <!--						<div class="rs-background-video-layer"-->
                            <!--							data-forcerewind="on"-->
                            <!--							data-volume="mute"-->
                            <!--							data-videowidth="100%"-->
                            <!--							data-videoheight="100%"-->
                            <!--							data-videomp4="video/Sail-Away.mp4"-->
                            <!--							data-videopreload="auto"-->
                            <!--							data-videoloop="loop"-->
                            <!--							data-aspectratio="16:9"-->
                            <!--							data-autoplay="true"-->
                            <!--							data-autoplayonlyfirsttime="true"></div>-->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                                 id="slide-300-layer-1"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 11;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1"
                                 id="slide-300-layer-2"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-10','-10','-10','-10']"
                                 data-fontsize="['94','94','70','40']"
                                 data-lineheight="['120','120','90','60']"
                                 data-width="['none','none','none','320']"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index:14; white-space:nowrap;font-family:'Playfair Display', serif">Learn Code
                                With <br/>Videos and Note!
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-200" data-transition="fadethroughdark" data-slotamount="default"
                            data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="2000"
                            data-thumb="/static/images/main-slider/slide2.jpg" data-rotate="0" data-saveperformance="off"
                            data-title="Untrammeled"
                            data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7=""
                            data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/main-slider/slide2.jpg" alt="" data-bgposition="center center"
                                 data-bgfit="cover" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer"
                                 data-forcerewind="on"
                                 data-volume="mute"
                                 data-videowidth="100%"
                                 data-videoheight="100%"
                                 data-videomp4="video/Sail-Away.mp4"
                                 data-videopreload="auto"
                                 data-videoloop="loop"
                                 data-aspectratio="16:9"
                                 data-autoplay="true"
                                 data-autoplayonlyfirsttime="true"></div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                                 id="slide-200-layer-1"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['0','0','0','0']"
                                 data-fontweight="['100','100','400','400']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 5;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1"
                                 id="slide-200-layer-2"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-10','-10','-10','-10']"
                                 data-fontsize="['94','94','70','40']"
                                 data-lineheight="['120','120','90','60']"
                                 data-width="['none','none','none','320']"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index:14; white-space:nowrap;font-family:'Playfair Display', serif">Teach
                                yourself <br/>Programming!
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-100" data-transition="fadethroughdark" data-slotamount="default"
                            data-hideafterloop="0" data-hideslideonmobile="off"
                            data-easein="default" data-easeout="default" data-masterspeed="2000"
                            data-thumb="/static/images/main-slider/slide1.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="International" data-param1="02"
                            data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/main-slider/slide1.jpg" alt="" data-bgposition="center center"
                                 data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg"
                                 data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                                 id="slide-100-layer-1"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 11;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1"
                                 id="slide-100-layer-2"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-10','-10','-10','-10']"
                                 data-fontsize="['94','94','70','40']"
                                 data-lineheight="['120','120','90','60']"
                                 data-width="['none','none','none','320']"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index:14; white-space:nowrap; font-family:'Playfair Display', serif">Learn
                                Code <br/>Around the world!
                            </div>
                        </li>
                        <!-- SLIDE  -->
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
            <div class="slide-box">
                <!--				<a href="#" class="partner-bx"><i class="fa fa-envelope-o"></i>Partnership</a>-->
                <ul class="slide-social">
                    <li>Share:</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Slider Banner -->
        <div class="content-block">
            <!-- About Us -->
            <div class="section-full bg-white content-inner-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="category-box overlay m-b30">
                                <div class="category-media">
                                    <img src="/static/images/category/workspace1.jpg" alt=""/>
                                </div>
                                <div class="category-info">
                                    <a href="javascript:void(0);" class="category-title">My Workspace</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="category-box overlay m-b30">
                                <div class="category-media">
                                    <img src="/static/images/category/lecture1.jpg" alt=""/>
                                </div>
                                <div class="category-info">
                                    <a href="javascript:void(0);" class="category-title" onclick="roll(($('#lecture_title').offset().top)-100,1000)">Video Lecture</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="category-box overlay m-b30">
                                <div class="category-media">
                                    <img src="/static/images/category/note1.jpg" alt=""/>
                                </div>
                                <div class="category-info">
                                    <a href="javascript:void(0);" class="category-title" onclick="roll(($('#note_title').offset().top)-100,1000)">Note Tutorial</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="category-box overlay m-b30">
                                <div class="category-media">
                                    <img src="/static/images/category/question1.jpg" alt=""/>
                                </div>
                                <div class="category-info">
                                    <a href="javascript:void(0);" class="category-title" onclick="roll(($('#question_title').offset().top)-100,1000)">Question and Answer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-full bg-white content-inner-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                            <div class="row loadmore-content">

<!--                                Title of the first section -->
                                <div class="col-lg-12 m-tb30">
                                    <div id="lecture_title" class="blog-card overlay">
                                        <div class="blog-card-media">
                                            <img src="/static/images/blog/default/lecture2.jpg" alt=""/>
                                        </div>
                                        <div class="blog-card-info">
                                            <h2 class="title"><a href="post-gallery-alternative.html">Lectures</a></h2>
                                            <div class="date">
                                                05 <span></span> 2020
                                            </div>
                                            <a href="post-standart.html" class="btn-link readmore"><i
                                                    class="la la-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="blog-card">
                                        <div class="blog-card-media">
                                            <img src="/static/images/blog/card/pic1.jpg" alt=""/>
                                        </div>
                                        <div class="blog-card-info">
                                            <h4 class="title"><a href="post-standart.html">Oh Christmas Tree</a></h4>
                                            <div class="date">
                                                02 <span></span> 2020
                                            </div>
                                        </div>
                                    </div>
                                </div>


<!--                                <div class="col-lg-6">-->
<!--                                    <div class="blog-card">-->
<!--                                        <div class="blog-card-media">-->
<!--                                            <img src="/static/images/blog/card/pic2.jpg" alt=""/>-->
<!--                                        </div>-->
<!--                                        <div class="blog-card-info">-->
<!--                                            <h4 class="title"><a href="post-left-sidebar.html">Winter Looks Revolve</a>-->
<!--                                            </h4>-->
<!--                                            <div class="date">-->
<!--                                                12 <span></span> 2020-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="blog-card">-->
<!--                                        <div class="blog-card-media">-->
<!--                                            <img src="/static/images/blog/card/pic3.jpg" alt=""/>-->
<!--                                        </div>-->
<!--                                        <div class="blog-card-info">-->
<!--                                            <h4 class="title"><a href="post-full-width.html">Wear Green in Winter</a>-->
<!--                                            </h4>-->
<!--                                            <div class="date">-->
<!--                                                17 <span></span> 2020-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="row">-->
<!--                                    <div class="col-lg-12 m-t10">-->
<!--                                        <div class="text-center m-b30">-->
<!--                                            <a href="javascript:;" rel="https://kelsey.dexignzone.com/xhtml/ajax/index.html"-->
<!--                                            class="btn black radius-xl loadmore-btn dz-load-more">Load More</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->





<!--                                The title of the second section-->
                                <div class="col-lg-12 m-tb30">
                                    <div id="note_title" class="blog-card overlay">
                                        <div class="blog-card-media">
                                            <img src="/static/images/blog/default/note2.jpg" alt=""/>
                                        </div>
                                        <div class="blog-card-info">
                                            <h2 class="title"><a href="post-gallery-alternative.html">Notes</a></h2>
                                            <div class="date">
                                                05 <span></span> 2020
                                            </div>
                                            <a href="post-standart.html" class="btn-link readmore"><i
                                                    class="la la-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


<!--                            <div class="row">-->
<!--                                <div class="col-lg-12 m-t10">-->
<!--                                    <div class="text-center m-b30">-->
<!--                                        <a href="javascript:;" rel="https://kelsey.dexignzone.com/xhtml/ajax/index.html"-->
<!--                                           class="btn black radius-xl loadmore-btn dz-load-more">Load More</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            The title of third section-->
                            <div class="col-lg-12 m-tb30">
                                    <div id = "question_title" class="blog-card overlay">
                                        <div class="blog-card-media">
                                            <img src="/static/images/blog/default/question2.jpg" alt=""/>
                                        </div>
                                        <div class="blog-card-info">
                                            <h2 class="title"><a href="post-gallery-alternative.html">Questions</a></h2>
                                            <div class="date">
                                                05 <span></span> 2020
                                            </div>
                                            <a href="post-standart.html" class="btn-link readmore"><i
                                                    class="la la-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>


<!--                            <div class="row">-->
<!--                                <div class="col-lg-12 m-t10">-->
<!--                                    <div class="text-center m-b30">-->
<!--                                        <a href="javascript:;" rel="https://kelsey.dexignzone.com/xhtml/ajax/index.html"-->
<!--                                           class="btn black radius-xl loadmore-btn dz-load-more">Load More</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->


                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-12 col-12">
                            <div class="side-bar p-l30 sticky-top">
                                <div class="widget widget-author">
                                    <h6 class="widget-title">Alice</h6>
                                    <div class="author-blog">
                                        <div class="author-profile-info">
                                            <div class="author-profile-pic">
                                                <img src="/static/images/testimonials/pic1.jpg" alt="">
                                            </div>
                                            <div class="author-profile-content">
                                                <p>123456@hotmail.com</p>
<!--                                                <ul class="list-inline m-b0">-->
<!--                                                    <li><a href="javascript:void(0);" class="btn-link"><i-->
<!--                                                            class="fa fa-facebook"></i></a></li>-->
<!--                                                    <li><a href="javascript:void(0);" class="btn-link"><i-->
<!--                                                            class="fa fa-google-plus"></i></a></li>-->
<!--                                                    <li><a href="javascript:void(0);" class="btn-link"><i-->
<!--                                                            class="fa fa-instagram"></i></a></li>-->
<!--                                                    <li><a href="javascript:void(0);" class="btn-link"><i-->
<!--                                                            class="fa fa-twitter"></i></a></li>-->
<!--                                                </ul>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="widget widget-newsletter">-->
<!--                                    <div class="news-box text-white text-center">-->
<!--                                        <form class="dzSubscribe dezPlaceAni" action="/static/script/mailchamp.php"-->
<!--                                              method="post">-->
<!--                                            <img src="/static/images/newslatter-bg.png" alt=""/>-->
<!--                                            <div class="news-back">-->
<!--                                                <h6>Newsletter</h6>-->
<!--                                                <input name="dzEmail" required="required" type="email"-->
<!--                                                       class="form-control" placeholder="Your Email Address">-->
<!--                                            </div>-->
<!--                                            <div class="news-top">-->
<!--                                                <img src="/static/images/icon/newslatter.png" class="m-b20" alt=""/>-->
<!--                                                <p>Enter your email address below to subscribe to my newsletter</p>-->
<!--                                                <button name="submit" value="Submit" type="submit"-->
<!--                                                        class="btn radius-xl">SUBSCRIBE-->
<!--                                                </button>-->
<!--                                                <div class="dzSubscribeMsg"></div>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="widget widget_categories">
                                    <h6 class="widget-title">Category</h6>
                                    <ul>
                                        <li><a href="javascript:void(0);">Java <span></span></a> 6</li>
                                        <li><a href="javascript:void(0);">Python <span></span></a> 9</li>
                                        <li><a href="javascript:void(0);">Vue <span></span></a> 3</li>
                                        <li><a href="javascript:void(0);">R <span></span></a> 5</li>
                                        <li><a href="javascript:void(0);">Other <span></span></a> 7</li>
                                    </ul>
                                </div>
                                <div class="widget recent-posts-entry">
                                    <h5 class="widget-title">Hottest Posts</h5>
                                    <div class="widget-post-bx">
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic2.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="post-gallery-alternative.html">Try to build your web</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic3.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="post-slide-show.html">How to learn Java</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic4.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="post-full-width.html">How to write Python</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Us End -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->

<script>
    function roll(hight, speed){
        $('html,body').animate({
            scrollTop: hight
        }, speed);
    }

</script>

{% endblock %}

