{% extends "base.html" %}

{% block title %}Coderia - About Us{% endblock %}

{% block body %}
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-md overlay-black-middle bg-pt" style="background-image:url(/static/images/main-slider/slide3.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">About Us</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-block">
            <!-- About Us -->
            <div class="section-full bg-white content-inner-2 about-us">
                <div class="min-container">
					<div class="row">
						<div class="col-md-12">
							<h4>Coderia team is a software project team full of cooperative spirit and challenging spirit.</h4>
							<div class="dlab-divider divider-2px bg-gray-dark"><i class="icon-dot c-square"></i><div></div></div>
							<p class="first-content">Coderia team was committed to developing the best user experience code learning platform and worked towards their goals throughout the 12-week project cycle. In order to facilitate learners to record when watching teaching videos, The Coderia platform supports users to upload videos online, transfer videos to text and take notes at the same time. In order to facilitate developers to contact codes while learning, the platform has a built-in code compiler to achieve both learning and practice.</p>
							<div class="partnership">
								<h5>Partnership</h5>
								<a href="javascript:void(0);">info@example.com</a>
							</div>
							<p>During the development of the platform, the team members encountered many development challenges, but the team members always worked together, worked together, and helped each other. This development experience is a precious memory for every member of the development team, which is full of the stimulation of challenge and the joy of cooperation.</p>
<!--							<div class="text-center">-->
<!--								<ul class="list-inline m-b0">-->
<!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-facebook"></i></a></li>-->
<!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-google-plus"></i></a></li>-->
<!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-instagram"></i></a></li>-->
<!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-twitter"></i></a></li>-->
<!--								</ul>-->
<!--							</div>-->
						</div>
					</div>
				</div>
            </div>
			<!-- About Us End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
{% endblock %}
