{% extends "base.html" %}

{% block title %}Coderia - About Us{% endblock %}

{% block body %}
    <div class="page-wraper">
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="dlab-bnr-inr dlab-bnr-inr-md overlay-black-middle bg-pt"
                 style="background-image:url(/static/images/main-slider/slide3.jpg);">
                <div class="container">
                    <div class="dlab-bnr-inr-entry">
                        <h1 class="text-white">About Us</h1>
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            <div class="content-block">
                <!-- About Us -->
                <div class="section-full bg-white content-inner-2 about-us">
                    <div class="min-container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Coderia team is a software project team full of cooperative spirit and challenging
                                    spirit.</h4>
                                <div class="dlab-divider divider-2px bg-gray-dark"><i class="icon-dot c-square"></i>
                                    <div></div>
                                </div>
                                <p class="first-content">Coderia team was committed to developing the best user
                                    experience code learning platform and worked towards their goals throughout the
                                    12-week project cycle. In order to facilitate learners to record when watching
                                    teaching videos, The Coderia platform supports users to upload videos online,
                                    transfer videos to text and take notes at the same time. In order to facilitate
                                    developers to contact codes while learning, the platform has a built-in code
                                    compiler to achieve both learning and practice.</p>
                                <div class="partnership">
                                    <h5>Contact us</h5>
                                    <a href="javascript:void(0);">Mohan.wang@ucdconnect.ie</a>
                                </div>
                                <p>During the development of the platform, the team members encountered many development
                                    challenges, but the team members always worked together, worked together, and helped
                                    each other. This development experience is a precious memory for every member of the
                                    development team, which is full of the stimulation of challenge and the joy of
                                    cooperation.</p>
                                <!--							<div class="text-center">-->
                                <!--								<ul class="list-inline m-b0">-->
                                <!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-facebook"></i></a></li>-->
                                <!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-google-plus"></i></a></li>-->
                                <!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-instagram"></i></a></li>-->
                                <!--									<li><a href="javascript:void(0);" class="btn-link black"><i class="fa fa-twitter"></i></a></li>-->
                                <!--								</ul>-->
                                <!--							</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Us End -->
            </div>
            <!-- contact area END -->
        </div>
        <!-- Content END-->
    </div>
{% endblock %}

<!-- Footer -->
{% block footername %}
    <div class="col-12">
        <h4 class="footer-title text-center"><span>Coderia Story</span></h4>
    </div>
{% endblock %}
{% block footer %}
    {#    <div class="col-12">#}
    {#        <h4 class="footer-title text-center"><span>Coderia Story</span></h4>#}
    {#    </div>#}
    <div class="trending-stories owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-2">
        <div class="item">
            <div class="blog-card blog-grid no-gap">
                <div class="blog-card-media">
                    <img src="/static/images/blog/grid/team1.jpg" alt=""/>
                </div>
                <div class="blog-card-info">
                    <h4 class="title"><a href="#">Brainstorming and Discuss</a>
                    </h4>
                    <div class="date">
                        3 <span></span> 2022
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="blog-card blog-grid no-gap">
                <div class="blog-card-media">
                    <img src="/static/images/blog/grid/team2.jpg" alt=""/>
                </div>
                <div class="blog-card-info">
                    <h4 class="title"><a href="#">Working Together</a>
                    </h4>
                    <div class="date">
                        4 <span></span> 2022
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="blog-card blog-grid no-gap">
                <div class="blog-card-media">
                    <img src="/static/images/blog/grid/team1.jpg" alt=""/>
                </div>
                <div class="blog-card-info">
                    <h4 class="title"><a href="#">Help each other</a></h4>
                    <div class="date">
                        5 <span></span> 2022
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

