{% extends 'base.html' %}

{% block title %} Coderia - Note Page {% endblock %}

{% block body %}
    <!-- Dispaly All Note -->
    <div class="page-content bg-white">
        <!-- Slider Banner -->
        <div class="main-slide p-t30">
            <div class="post-slide-show no-radius m-b0">
                <div class="post-slide1 owl-carousel owl-btn-center-lr">
                    <div class="item">
                        <div class="blog-card overlay">
                            <div class="blog-card-media">
                                <img src="/static/images/blog/large/pic4.jpg" alt="">
                            </div>
                            <div class="post-slide-info">
                                <h2 class="post-title">Linux Common commands</h2>
                                <div class="date">
                                    <span></span> Alan Bernal
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-card overlay">
                            <div class="blog-card-media">
                                <img src="/static/images/blog/large/pic3.jpg" alt="">
                            </div>
                            <div class="post-slide-info">
                                <h2 class="post-title">A preliminary understanding of MySQL</h2>
                                <div class="date">
                                    <span></span> Moira
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-card overlay">
                            <div class="blog-card-media">
                                <img src="/static/images/blog/large/pic3.jpg" alt="">
                            </div>
                            <div class="post-slide-info">
                                <h2 class="post-title">In-depth understanding of C language Pointers</h2>
                                <div class="date">
                                    <span></span> Kent Lee
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Slider Banner -->
        <div class="content-block">
            <!-- About Us -->
            <div class="section-full bg-white content-inner-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                            <div class="row loadmore-content">
                                <div class="col-lg-12">
                                    {% for note in note_list %}
                                        <div name="note_detail" class="blog-card blog-md">
                                            <div class="blog-card-media">
                                                <img src="/static/images/blog/grid/pic5.jpg" alt=""/>
                                            </div>
                                            <div class="blog-card-info">
                                                <h4 class="title">
                                                    <a>{{ note.note.title }}</a>
                                                </h4>
                                                <p>
                                                    {{ note.note.create_time|timesince }} ago
                                                    <a style="font-weight: bold">written
                                                        by {{ note.note.uid.username }}</a>
                                                </p>
                                                {% if note.note.content_html %}
                                                    {{ note.note.content_html | striptags | truncatechars:200 }}
                                                {% else %}
                                                    {{ note.note.content | truncatechars:150 }}
                                                {% endif %}
                                                <a class="btn-link readmore"
                                                   href="{% url 'note:note_detail' note.note.note_id %}">
                                                    <i class="la la-arrow-right"></i>
                                                </a>
                                                <br/>
                                                {% if user is not None %}

                                                    <button class="collect" name="{{ note.note.note_id }}"
                                                            type="button">
                                                        {% if note.collect_state %}
                                                            cancel collect
                                                        {% else %}
                                                            collect it
                                                        {% endif %}
                                                    </button>

                                                    <button class="like" name="{{ note.note.note_id }}" type="button">
                                                        {% if note.like_state %}
                                                            cancel like
                                                        {% else %}
                                                            like
                                                        {% endif %}
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 m-t10">
                                    <div class="text-center m-b30">
                                        <a href="javascript:;"
                                           rel="https://kelsey.dexignzone.com/xhtml/ajax/index-5.html"
                                           class="btn black radius-xl loadmore-btn dz-load-more">Load More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-12 col-12">
                            <div class="side-bar p-l30 sticky-top">
                                <div class="widget recent-posts-entry">
                                    <h5 class="widget-title">Hottest Posts</h5>
                                    <div class="widget-post-bx">
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic2.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="#">python
                                                        work</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic3.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="post-slide-show.html">Java work</a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic4.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="post-full-width.html">HTML & CSS</a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Us End -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
{% endblock %}


{% block script %}
    <script>
        $('.collect').click(function () {
            let note_id = this.name;
            let state = this.innerHTML;
            if (state === "cancel collect") {
                this.innerHTML = "collect it";
                cancel_collect(note_id);
            } else {
                this.innerHTML = "cancel collect";
                collect(note_id);
            }

        });

        function collect(note_id) {
            $.ajax({
                type: 'post',
                url: '/CollectNote/',
                data: {
                    'note_id': note_id,
                },
                success: function (response) {
                    if (response === 0) {
                        alert('fail to collect the note');
                    } else {
                        alert('successfully collect');
                    }
                },
                error: function () {
                    alert('connection error');
                }
            });
        }

        function cancel_collect(note_id) {
            $.ajax({
                type: 'post',
                url: '/CancelCollectNote/',
                data: {
                    'note_id': note_id,
                },
                success: function (response) {
                    if (response === 0) {
                        alert('fail to cancel collect the note');
                    } else {
                        alert('successfully cancel');
                    }
                },
                error: function () {
                    alert('connection error');
                }
            });
        }

        $('.like').click(function () {
            let note_id = this.name;
            let state = this.innerHTML;
            if (state === "cancel like") {
                this.innerHTML = "like";
                cancel_like(note_id);
            } else {
                this.innerHTML = "cancel like";
                like(note_id);
            }

        });

        function like(note_id) {
            $.ajax({
                type: 'post',
                url: '/LikeNote/',
                data: {
                    'note_id': note_id,
                },
                success: function (response) {
                    if (response === 0) {
                        alert('fail to like the note');
                    } else {
                        alert('successfully like');
                    }
                },
                error: function () {
                    alert('connection error');
                }
            });
        }

        function cancel_like(note_id) {
            $.ajax({
                type: 'post',
                url: '/CancelLikeNote/',
                data: {
                    'note_id': note_id,
                },
                success: function (response) {
                    if (response === 0) {
                        alert('fail to cancel like the note');
                    } else {
                        alert('successfully cancel');
                    }
                },
                error: function () {
                    alert('connection error');
                }
            });
        }

    </script>
{% endblock %}

