{% extends 'base_white.html' %}

{% block title %} Coderia - Note Page {% endblock %}

<!-- Dispaly All Note -->
{% block body %}
    <div class="page-content bg-white">
        <div class="content-block">
            <!-- About Us -->
            <div class="section-full content-inner bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                            <div class="blog-post blog-single blog-post-style-2 sidebar">
                                <div class="dlab-post-info">
                                    <div class="dlab-post-meta">
                                        <div class="date">
{#                                            {{ note.create_time|timeuntil }}#}
                                        </div>
                                    </div>
                                    <div class="dlab-post-title">
                                        <h2 class="post-title">{{ note.title }}</h2>
                                        <h4>{{ note.create_time|timesince }} ago Written by {{ note.uid.username }}</h4>
                                    </div>
                                    <div class="dlab-divider divider-2px bg-gray-dark"><i class="icon-dot c-square"></i>
                                    </div>
                                    <div class="dlab-post-text text">
                                        <div class="wp-block-image alignwide">
                                            <figure class="aligncenter">
                                                <img src="/static/images/blog/large/pic1.jpg" alt="">
                                            </figure>
                                        </div>
                                        {% if note.content_html %}
                                            {{ note.content_html |safe }}
                                        {% else %}
                                            {{ note.content }}
                                        {% endif %}
                                    </div>
                                    <div class="dlab-post-tags d-flex">
                                        <div class="post-tags">
                                            <a href="javascript:void(0);">Java</a>
                                            <a href="javascript:void(0);">Windows</a>
                                            <a href="javascript:void(0);">Developer</a>
                                        </div>
                                        <div class="share-post ml-auto">
                                            <ul class="slide-social">
                                                <li style="color: #0b0b0b">
                                                    <i class="fa fa-thumbs-o-up" style="font-size: 20px"></i>
                                                    <i class="fa fa-thumbs-up" style="font-size: 20px"></i>
                                                    <span>  123 Likes</span>
                                                </li>
                                                <li style="color: #0b0b0b">
                                                    <i class="fa fa-star-o" style="font-size: 20px"></i>
                                                    <i class="fa fa-star" style="font-size: 20px"></i>
                                                    <span>  987 Collect</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="min-container">
                                <div class="post-btn">
                                    <div class="prev-post">
                                        <img src="/static/images/blog/recent-blog/pic2.jpg" alt=""/>
                                        <h6 class="title"><a href="#">The difference between shallow copy and deep
                                            copy</a></h6>
                                    </div>
                                    <div class="next-post">
                                        <h6 class="title"><a href="#">How to write a chatbot in Java</a></h6>
                                        <img src="/static/images/blog/recent-blog/pic1.jpg" alt=""/>
                                    </div>
                                </div>
                                <div class="">
                                    <h6 class="widget-title">You Might Also Like</h6>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                            <div class="category-box overlay m-b30">
                                                <div class="category-media">
                                                    <img src="/static/images/category/pic1.jpg" alt="">
                                                </div>
                                                <div class="category-info">
                                                    <h6 class="title m-b0"><a href="#">IDEA Remote debugging Java
                                                        code</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                            <div class="category-box overlay m-b30">
                                                <div class="category-media">
                                                    <img src="/static/images/category/pic2.jpg" alt="">
                                                </div>
                                                <div class="category-info">
                                                    <h6 class="title m-b0"><a href="post-navigation.html">Front-end
                                                        interviews</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="category-box overlay m-b30">
                                                <div class="category-media">
                                                    <img src="/static/images/category/pic3.jpg" alt="">
                                                </div>
                                                <div class="category-info">
                                                    <h6 class="title m-b0"><a href="#">IDEA Remote debugging Java
                                                        code</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear m-b30" id="comment-list">
                                    <div class="comments-area" id="comments">
                                        <h6 class="comments-title">8 Comments</h6>
                                        <div>
                                            <!-- comment list END -->
                                            {% for comment in comment_list %}
                                            <ol class="comment-list">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard"><img class="avatar photo"
                                                                                               src="/static/images/testimonials/pic1.jpg"
                                                                                               alt=""> <cite class="fn">{{  comment.uid.username  }}
                                                        </cite> <span class="says">says:</span></div>
                                                        <div class="comment-meta"><a href="javascript:void(0);">{{  comment.create_time|timesince  }} Ago</a></div>
                                                        <p>{{  comment.content  }}</p>
                                                        <div class="reply"><a href="javascript:void(0);"
                                                                              class="comment-reply-link">Reply</a></div>
                                                    </div>

                                                    <ol class="children" id="comment_{{comment.cid}}">

                                                    </ol>

                                                </li>
                                            </ol>
                                            {% endfor %}
                                            <!-- comment list END -->
                                            <!-- Form -->
                                            <div class="comment-respond" id="respond">
                                                <h3 class="comment-reply-title" id="reply-title">Leave a Reply <small>
                                                    <a style="display:none;" href="#" id="cancel-comment-reply-link"
                                                       rel="nofollow">Cancel reply</a> </small></h3>
                                                <form class="comment-form" id="commentform" method="post" action="">
                                                    <p class="comment-form-comment">
                                                        <label for="comment">Comment</label>
                                                        <textarea rows="8" placeholder="Add a Comment"
                                                                  id="comment"></textarea>
                                                    </p>
                                                    <p class="form-submit">
{#                                                        on click 里用return 防止提交失败时也刷新页面#}
                                                        <input type="submit" value="Post Comment" class="submit"
                                                               id="submit" onclick="return submitComment()">
                                                    </p>
                                                </form>
                                            </div>
                                            <!-- Form END -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-12 col-12">
                            <div class="side-bar p-l30 sticky-top">
                                <div class="widget widget-author">
                                    <h6 class="widget-title">Author</h6>
                                    <div class="author-blog">
                                        <div class="author-profile-info">
                                            <div class="author-profile-pic">
                                                <img src="/static/avatar/{{ note.uid.avatar }}" alt="">
                                            </div>
                                            <div class="author-profile-content">
                                                <p> {{ note.uid.username }} </p>
                                                <p> {{ note.uid.email }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget recent-posts-entry">
                                    <h5 class="widget-title">Hottest Posts</h5>
                                    <div class="widget-post-bx">
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic2.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="#">python work</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic3.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="#">Java work</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-post clearfix">
                                            <div class="dlab-post-media">
                                                <img src="/static/images/blog/recent-blog/pic4.jpg" alt="" width="200"
                                                     height="143">
                                            </div>
                                            <div class="dlab-post-info">
                                                <div class="dlab-post-header">
                                                    <h6 class="post-title"><a href="#">HTML & CSS</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us End -->
    </div>
    <!-- contact area END -->
    </div>
    <!-- Content END-->
{% endblock %}


{% block script %}
    <script>
        function submitComment(){
            var note_id = {{ note.note_id }};
            var content = $('#comment').val();
            $.ajax({
                type:'post',
                {# sb Django 这是什么形式的路由 #}
                url:'../../notesave_comment/',
                data:{'content':content,'note_id': note_id},
                success:function (response){
                    switch (response){
                        case '0':
                            alert('Please log in first');
                            {#window.location.replace("{% url 'login' %}");#}
                            break;
                        case '1':
                            alert('Comment successfully');
                            break;
                    }
                },
                error:function (){
                    alert('Connection error');
                }
            })
            {#return false 可以防止表格刷新#}
            return true;
        }

        {# 填充每个reply #}
        {# 后期考虑要不要点一个link，然后在释放这些reply，不然可能页面太长 #}
        $('.children').each(function(){
            reply_id = this.id
            cid = reply_id.split("_")[1]
            getReply(reply_id,cid)
        })

        function getReply(reply_id, id){
            $.ajax({
                type:'post',
                {# sb Django 这是什么形式的路由 #}
                url:'../../noteget_reply/',
                data:{'cid' : id},
                dataType:"json",
                success:function (response){
                    data = response.data
                    length = response.length
                    {# 这里这个function会被执行2次，第一次length是0 #}
                    if(length !== 0){
                        fillReply(reply_id, data, length)
                    }
                },
                error:function (){
                    alert('Connection error');
                }
            })
        }

        function fillReply(id, data, length){
            object = document.getElementById(id)
            str = ''
            for(var i = 0; i < length; i++) {
                str += `
                <li class="comment odd parent">
                    <div class="comment-body">
                        <div class="comment-author vcard"><img
                                class="avatar photo"
                                src="/static/images/testimonials/pic2.jpg"
                                alt=""> <cite class="fn">${data[i].username}</cite> <span
                                class="says">says:</span></div>
                        <div class="comment-meta"><a href="javascript:void(0);">${data[i].time}</a></div>
                        <p>${data[i].content}</p>
                        <div class="reply"><a href="javascript:void(0);"
                                              class="comment-reply-link">Reply</a>
                        </div>
                    </div>
                </li>

                `
            }
            object.innerHTML = str
        }



    </script>
{% endblock %}